.red {
    color: red;
  }
  
  .bold {
    font-weight: bold;
  }
  
  .Cockpit button {
    padding: 8px 20px;
    background-color: green;
    border: 1px solid black ;
    border-radius: 5px;
    color: white;
    cursor: pointer;
  }
  
  .Cockpit button:hover {
    background-color: lightgreen;
    color: black
  }
  
  .Cockpit button.Red {
    background-color: red;
  }
  
  .Cockpit button.Red:hover {
    background-color: salmon;
  }